*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
header{
    position: fixed;
    margin: 0;
    height: 80px;
    width: 100%;
    background-color: #6DB1BF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    z-index: 5;
}
header h1 {
    font-weight: 400;
}

main{
    padding-top: 80px;
    background-color: #FFEAEC;
}

input, label, p{
    margin: 5px;
}

#main-container {
    display: grid;
    grid-template-areas:
            "h p s"
            "i p s"
            "t p s"
            "m p s";
    grid-template-columns: 1fr 50% 1fr;
    grid-template-rows: 1fr 1fr auto auto;
    gap: 10px;
    width: 100%;
    height: 500px;
    padding: 10px;
}
#main-container > div {
    background-color: #F39A9D;
    padding: 5px;
}
#hastighet-graf {
    grid-area: h;
}
#iterasjon-graf {
    grid-area: i;
}
#tilbake {
    grid-area: t;
}
#mer-om-algoritme {
    grid-area: m;
}
#pyramidefelt {
    grid-area: p;
    display: flex;
    justify-content: right;
}
#pyramide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.pyramiderad {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#statistikk {
    grid-area: s;
}
.tallrute {
    margin: 5px;
    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.riktigrute {
    background-color: greenyellow;
}
#statistikk-boks {
    background-color: white;
    padding: 15px;
    margin: 5px;
}
#statistikk-boks ul {
    padding-left: 20px;
    list-style-type: square;
}
#type-søk-knapper {
    background-color: white;
    width: 200px;
    padding: 5px;
    position: absolute;
    margin: 5px;
    text-align: center;
}